In [24]:
import os
import pandas as pd
import numpy as np

from utils import *

In [25]:
cf4_df = read_csv('cosmicflow.csv')

In [26]:
df = cf4_df.copy()

In [29]:
stats = pd.concat([df.max(), df.min(), df.std(), df.mean()], axis=1)
stats.columns = ['max', 'min', 'std', 'mean']
stats

               max       min        std        mean
x         226.2800 -223.9500  62.333418    4.898025
y         287.6300 -242.3300  96.671651   93.029230
z         268.0900 -269.6000  83.671305    4.502106
w          39.6490   18.4690   1.778639   36.191395
ra        359.9976    0.0070  72.151902  181.423980
dec        88.1368  -89.3346  29.293424   14.212146
redshift       NaN       NaN        NaN         NaN
dist      289.4550    0.0000  78.985235  150.637063